.page {
  /* max-height: 800px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #000000;
  font-size: 1rem;
}

.header {
  padding: 25px 25px;
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.header a {
  text-decoration: none;
}

.change-lang {
  border-radius: 10%;
  border: 10% solid #351717;
  background-color: rgba(226, 24, 24, .6);
}

h1 {
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  /* Параметры тени */
  color: white;
  /* Белый цвет текста */
  font-size: 2em;
  /* Размер надписи */
  /* margin-top: -500px; */
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  min-width: 100vh;
  min-height: 100vh;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/bg_main.jpg");
  background-size: cover;
  background-position: absolute;
  overflow: hidden;
  padding-bottom: 5%;
}

.swiper-container {
  max-width: 600px;
  max-height: 300px;
}

.subscribe {
  text-shadow: 10px 10px 10px black, 0 0 1em rgba(255, 0, 0, .1);
  /* Параметры тени */
  color: white;
  /* Белый цвет текста */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.footer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  position: fixed;
  z-index: 2;
  bottom: 0;
  /* margin-bottom: 150px; */
}

/* @media (min-height:992px){
.page  {
  font-size: 1.8rem;
}
.main-container {
  height: 800px;
  background-size: 100% 800px;
  background-repeat: no-repeat;
}
.footer {
  height: 350px;
  position: static;
  
} */

/* .footer div {
  position: fixed;
  bottom: 10px;
}
} */

@media (max-width: 992px) {
  .main-container {
    background-position: center;
  }

  .button-wrapper {
    padding-right: 25px;
  }
}

@media (max-width: 650px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .audio {
    padding: 15px 0;
  }
}

@media (max-width: 350px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .swiper-container {
    width: 80%;
    height: 700px;
    padding-left: -250px;
  }

  .audio {
    display: none;
  }
}

@media (max-width:350px) {
  .footer {
    height: 100px;
  }
}